@use "styles/abstracts/colors" as *;

h2 {
  overflow: hidden;
  text-align: center;
}

h2:before,
h2:after {
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 15%;
}

h2.light:before,
h2.light:after {
  background-color: $dark;
}

h2.dark:before,
h2.dark:after {
  background-color: $light;
}

h2:before {
  right: 0.5em;
  margin-left: -15%;
}

h2:after {
  left: 0.5em;
  margin-right: -15%;
}
