@use "styles/abstracts/colors" as *;

a,
a:link,
a:visited {
  text-decoration: none;
  background-color: none;
}

a.light.title {
  color: rgb(42, 186, 243);
}

a.dark.title {
  color: rgb(105, 249, 105);
}

.dark a:hover {
  text-shadow: 0 0 5px rgb(105, 249, 105);
}

.light a:hover {
  text-shadow: 0 0 5px rgb(42, 186, 243);
}

.smooth {
  transition: all 0.2s ease-in-out;
}
